<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>

<!--
<link rel="Stylesheet" type="text/css" href="style.css">
-->
<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<header>
<div class="inner">
<h1>Wiki</h1>
<h2>by chenokay</h2>
<a href="https://github.com/chenokay" class="button"><small>View my project on</small>GitHub</a>
</div>
</header>

<div id="content-wrapper">
<div class="inner clearfix">
<section id="main-content">

	
<h2 id="toc_0.1">体系结构</h2>
<ul>
<li>
<a href="non-uniform_memory_access.html">non-uniform_memory_access</a>

<li>


</ul>
	
<h2 id="toc_0.2">广告学</h2>

<ul>
<li>
<a href="推荐系统基本内容总结.html">推荐系统基本内容总结</a>

</ul>
	
<h2 id="toc_0.3">工作细节记录</h2>
	
<ul>
<li>
<a href="a trap of string.html">a trap of string</a>

</ul>

<h2 id="toc_0.4">自我纠结</h2>

<ul>
<li>
<a href="值得拥有的基本思想.html">值得拥有的基本思想</a>

</ul>
	 
<ul>
<li>
<a href="圈子的选择.html">圈子的选择</a>

<li>


</ul>

<h2 id="toc_0.5">编程语言</h2>

<ul>
<li>
<a href="python内存管理.html">python内存管理</a>

</ul>

</section>
<aside id="sidebar">
<h2>Zhen Chen</h2>
<p><a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%A4%9A%E7%9B%9F">No.15 Wanquanzhuang Road, Haidian District, Beijing, China</a></p>
<p>chenokay@gmail.com</p>
</aside>
</div>
</div>
</body>
</html>
